.palce-order-container{
    margin: 0 auto;
    padding: 0 5px;
}

.place-order-inner-cont{
    display: flex;
    width: 100%;
}

.place-order-inner-left{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px 5px;
    padding: 20px;
}
.place-order-title{
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.review-box{
    padding: 5px;
}
.box-det h3{
    font-size: 22px;
    font-weight: 400;
}
.box-item{
    margin: 20px 5px;
    padding: 10px;
}
.box-item h4{
    font-size: 17px;
    font-weight: 400;
}
.place-order-inner-right{
    width: 30%;
    margin: 100px 5px 10px 5px;
    padding: 20px 10px;
    border: 1px solid gray;
    height: 50vh;
}

.order-review-box{
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.placeorder-btn{
    border: none;
    background: #C09621;
    color: #fff;
    padding:10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    width: 100%;
}
.ordeItems{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
}
.ordeItems img{
    width: 50px;
    max-width: 50px;
    height: 50px;
}
.view-order-btn{
    padding: 10px;
    margin: 10px;
    border: none;
    background: #C09621;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width:576px) {
    .place-order-inner-cont{
        display: flex;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }
    
    .place-order-inner-left{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px auto;
        padding: 5px;
    }
    .place-order-inner-right{
        width: 100%;
        margin: 10px auto;
    }
}
