.about-container{
    width:80%;
    text-align:center;
    padding: 20px;
    margin: 0 auto;
}

.about-container p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.5;
    color: rgba(18,18,18,0.75)
}
.about-enph{
    color: #C09621;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width:576px){
    .about-container{
        width: 100%;
        margin: 0 auto;
    }

    .about-container p{
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 2;
    }
}