/* .box{
    

    
} */

.thumbnails {
    display: flex;
    margin-top: 10px;
    align-items: center;
    overflow: scroll;
    height: 100px;
}
.single-product-review-carousel-container{
    height: 100% !important;
}
.box{
    height: 100% !important;
}
.box:nth-child(1){
    height: 100% !important;
}
.carousel-image{
    /* display: none !important; */
    height: 100% !important;
    object-fit: contain !important;
}



@media screen and (max-width: 560px) {
    /* .single-product-review-carousel-container{
        height: 100vh;
    } */
    /* .box{
        height: 100% !important;
    } */
    .box :nth-child(1){
        max-height: 100% !important;
    }
    .carousel-container{
        /* height: 100% !important; */
    }
    /* .carousel-item{
        background-color: green !important;
        height:  100% !important;
    } */
    .carousel-image{
        /* display: none !important; */
        height: 100% !important;
        object-fit: contain !important;
    }
    .carousel-caption-bottom{
        /* display: none !important; */
    }
}